---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/tt0111161?api_key=d0607e9a2cf6b939168457281815bc4d&external_source=imdb_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"23c5e60abedc4af95cdca482894ff233"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '19769'
      X-Memc-Expires:
      - '1831'
      X-Memc-Key:
      - d71db2f3b568e2504cd21d0dfd60d397
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1475406768'
    body:
      encoding: UTF-8
      string: '{"movie_results":[{"adult":false,"backdrop_path":"/xBKGJQsAIeweesB79KC89FpBrVr.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","release_date":"1994-09-10","poster_path":"/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg","popularity":4.54857,"title":"The
        Shawshank Redemption","video":false,"vote_average":8.3,"vote_count":5352}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Sun, 02 Oct 2016 11:12:38 GMT
recorded_with: VCR 3.0.3
